/* PageNotFound.css */

.PageNotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.PageNotFound p {
    font-size: 24px;
    margin-bottom: 5px;
    color: #333;
}

.PageNotFound img {
    width: 50%;
}