.EditVacation {
    margin-top: 40px;
    background-image: url('../../../Assets/Images/PageBackgroundImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 20px;
}

.EditVacation > form {
    background-color: white;
    width: 300px; /* Set the width to your preferred size */
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.EditVacation h2 {
    margin-top: 45px;
    font: italic small-caps bold 16px/2 cursive;
    position: relative;
    font-size: 50px;
}

.EditVacation label {
    display: block;
    font-weight: bold;
}

.EditVacation .input-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.EditVacation .input {
    flex: 1 0 100%; /* Allow items to grow, but don't shrink below their content size */
    margin-bottom: 10px;
}

.EditVacation .input-group label {
    width: 100%; /* Make labels take full width */
}

.EditVacation input,
.EditVacation textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.EditVacation input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.EditVacation input:focus,
.EditVacation textarea:focus {
    outline: none;
    border-color: blue;
}

.EditVacation button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.EditVacation button:hover {
    background-color: red;
}

.EditVacation img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

